<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-2">
                <div *ngIf="currentSoru < sorular.length">
                    <p class="text-center">
                        {{currentSoru +1}} of {{sorular.length}}
                    </p>
                    <h1>{{sorular[currentSoru].soru}}</h1>
        
                    <ul class="list-group" *ngFor="let soru of sorular[currentSoru].cevap">
                        <li class="list-group-item">
                            <input type="radio" name="options" required (change)="onAnswer(soru.option)" [disabled]="answerSelected">
                        {{soru.option}}</li>
                    </ul>

                </div>
                <div *ngIf="currentSoru > sorular.length-1">
                    <button #btn="ngModel" ngModel class="btn btn-success btn-lg btn-sm" (click)="sonucGoster()">Bitir</button>
                    <div *ngIf="result">
                        <h5>{{sonuc.mesaj}} </h5>
                        <button class="btn btn-success btn-lg btn-sm" routerLink="/admin">Ana Sayfa</button>


                    </div>
                </div>
        </div>
    </div>
</div>

